# Directories 
3.5/
__pycache__/
data/
folder_for_files/
PyQt5/
python_for_data_analysis_McKinney/
test_git/
thinkDSP/
vika/
new_year/
Рисование елочки из импульсов/
.ipynb_checkpoints/

# Patterns of files
*.pnt
*.cvs
*.txt
*.pkl
*.png
*.pdf
*.xls*
*checkpoint.ipynb

test_interesting_code/message_receiver/config.py
