# Directories 
3.5/
__pycache__/
data/
fast_python/
folder_for_files/
PyQt5/
python_for_data_analysis_McKinney/
Python_Курс Сергея Лебедева/
test_git/
thinkDSP/
vika/
Рисование елочки из импульсов/

# Patterns of files
*.pnt
*.cvs
*.txt
*.pkl
*.png
*.pdf
*.xls*
